<?xml version="1.0" encoding="utf-8"?>

<MENU-OBJECTS>

<jPlaton version="2_8j"></jPlaton>
<Application code="bo-system" name="database226" key="2fbd92c88106dc26c55797d7f29f01bf"></Application>
<Developer code="1" name="B-open" key="3478403624e74e4cf44ca4a78bda74fe"></Developer>
<Source date="2015-06-30" time="10:01:25" key="6a4269c64580fcc0d57a1c807ba02e8"></Source>

     <DEFINITIONS>

         <Books type="Menu"></Books>
         <Library type="Menu"></Library>
         <MemberList type="Menu"></MemberList>
         <Members type="Menu"></Members>
         <Rent type="Menu"></Rent>
         <Rent_Book type="Menu"></Rent_Book>
         <chat type="Menu"></chat>
         <menu1 type="Menu"></menu1>
         <menu2 type="Menu"></menu2>
         <menu3 type="Menu"></menu3>
         <menu4 type="Menu"></menu4>
         <menu5 type="Menu"></menu5>

     </DEFINITIONS>

     <PROPERTIES>

        <Rent
            menu_type="web"
            panel="s_Rent"
            title="Rent"
            unit_name="Rent"
        ></Rent>
        <s_Books
            menu_type="web"
            panel="s_Library"
            title="Books"
            unit_name="Book"
        ></s_Books>
        <s_Library
            elements="s_Books,s_menu1,s_menu2,s_menu3,s_menu4,s_menu5"
            menu_type="web"
            title="Library"
        ></s_Library>
        <s_MemberList
            menu_type="web"
            panel="s_Members"
            title="Member List"
            unit_name="MemberList"
        ></s_MemberList>
        <s_Members
            elements="s_Members,s_MemberList"
            menu_type="web"
            title="Members"
        ></s_Members>
        <s_Rent
            elements="Rent,s_Rent_Book"
            menu_type="web"
            title="Rent"
        ></s_Rent>
        <s_Rent_Book
            menu_type="web"
            panel="s_Rent"
            title="Rent Book"
            unit_name="Rent_Book"
        ></s_Rent_Book>
        <s_chat
            menu_type="web"
            panel="SysAdmin"
            position="1"
            title="Chat"
            url_name="javascript:createUserGroupsPanel(&apos;textChat&apos;)"
        ></s_chat>
        <s_menu1
            menu_type="web"
            panel="s_Library"
            title="bl1"
            unit_name="bl1"
        ></s_menu1>
        <s_menu2
            menu_type="web"
            panel="s_Library"
            title="Calendar"
            unit_name="Cal"
        ></s_menu2>
        <s_menu3
            menu_type="web"
            panel="s_Library"
            title="aaaa"
            unit_name="tst6"
        ></s_menu3>
        <s_menu4
            menu_type="web"
            panel="s_Library"
            title="wwww"
            unit_name="aaaa"
        ></s_menu4>
        <s_menu5
            menu_type="web"
            panel="s_Library"
            title="sssss"
            unit_name="contact"
         ></s_menu5>

     </PROPERTIES>

</MENU-OBJECTS>
